{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio</title>
    <link rel="icon" href="{% static 'images/favicon.jpeg' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    
    <!-- Navbar Section -->
    <nav id="navbar" class="flex s-around bg-color">
        <div class="left-nav">
            <h2 class="t-white">PORTFOLIO</h2>
        </div>
        <div class="right-nav">
            <ul class="flex">
                <li><a href="#home" class="t-white roboto">Home <i class="fa-solid fa-house"></i></a></li>
                <li><a href="#about" class="t-white roboto">About Me <i class="fa-solid fa-user"></i></a></li>
                <li><a href="#skills" class="t-white roboto">Skills <i class="fa-solid fa-code"></i></a></li>
                <li><a href="#Projects" class="t-white roboto">Projects <i class="fas fa-project-diagram"></i></a></li>
                <li><a href="#Contact" class="t-white roboto">Contact <i class="fa-solid fa-rocket"></i></a></li>
            </ul>
        </div>
    </nav>

        

    <!-- Home Section -->
    <section id="home" class="flex s-around sw-80 m-auto">
        <div class="home-left flex items-center">
            <div class="home-content">
                <h6 class="poppinss">Hi, I'm</h6>
                <h1 class="t-white">Chinmaya Mohanty</h1>
                <h4 class="poppinss">software Engineer</h4>
                <a href="{% static 'pdf/my_cv_1.pdf' %}"  target="_blank">
                    <button class="btn poppins">Resume</button></a>
                    
                <a class="btn live poppins" id="hireme" href="https://www.linkedin.com/in/chinmaya-mohanty-196089294"
                    target="_blank">Let's Talk</a>
            </div>
        </div>
        <div class="home-right flex s-center items-center">
            <div class="circle flex s-center items-center" id="mainImage">
               
                <img src="{% static 'images/img1.jpg'%}" alt="">
            </div>

        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <h1 class="t-center my-2 t-white f-2">About Me</h1>
        <div class="about-container flex s-around ">
            <div class=" about-left flex s-center items-center">
                <!-- Here in src replade the given link with your secondary image link -->
                <img src="{%static 'images/dog.jpg'%}" alt="" style="width: 60%;">
            </div>

            <div class="about-right flex">
                <div class="about-content">
                    <h1 class="t-white m-b-1 poppins">Chinmaya Mohanty</h1>
                    <p class="t-white poppins">My name is Chinmaya Mohanty.I’m a B.tech student Gift Autonomous College in Computer Science & Engineering.
                        
                        
                        I am fresher, I’m passionate about creating quality products that meet all of the customer’s needs, and I love learning new techniques and technologies that allow me to make that happen.While I generally enjoy all of my job, the part I find most draining is estimating projects for customers. I don’t mind doing it, but I enjoy actually creating the software much more.</p>
                    <a class="btn " id="hireme"
                        href="">Hire Me</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Skills Section -->
    <section id="skills">
        <h1 class="t-center my-2 t-white f-2">Skills</h1>
        <div class="services-container flex s-around h-50">
        <div class=" skills-left flex s-center items-center">
            <img src="{%static 'images/pro.png'%}" alt="">
        </div>

        <div class="skills-right flex items-center">
            <div class="skillss-container">
                <div class="java bar p-relative"><span class="bar-content left t-white">HTML</span><span
                        class="bar-content right-skills t-white">90%</span></div>
                <div class="html bar p-relative"><span class="bar-content left t-white">CSS</span><span
                        class="bar-content right-skills t-white">90%</span></div>
                <div class="css bar p-relative"><span class="bar-content left t-white">JavaScript</span><span
                        class="bar-content right-skills t-white">80%</span></div>
                <div class="js bar p-relative"><span class="bar-content left t-white">REACT</span><span
                        class="bar-content right-skills t-white">70%</span></div>
                <div class="python bar p-relative"><span class="bar-content left t-white">Django</span><span
                        class="bar-content right-skills t-white">80%</span></div>
                <div class="mysql bar p-relative"><span class="bar-content left t-white">RestApi</span><span
                        class="bar-content right-skills t-white">50%</span></div>        
            </div>
        </div>
        </div>
    </section>

    

    <!-- Projects Section -->
    <section id="Projects">
        <h1 class=" t-center my-2 t-white f-2">Projects</h1>
        <div class="projects-container flex s-center">
            <div class="projects-item flex f-col s-center items-center">
               
                <h1 class="t-white poppins">My Portfolio</h1>
                <p class="t-white poppins">Portfolio Project using Django is a dynamic web application that showcases personal projects, skills, and achievements. Built with Django’s robust backend, it allows easy content management, responsive design, and database integration, providing an interactive and professional platform for presenting one’s work and enhancing online presence effectively.
</p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/Student-ChinmayaMohanty/portfolio.git"
                        target="_blanks"
                         class="btn mx-1 m-top">GitHub</a>
                    <a href="" target="_blanks" class="btn m-top live">Live
                        Link</a>
                </div>
            </div>
            <div class="projects-item flex f-col s-center items-center">
                <h1 class="t-white poppins">Krishione</h1>
                <p class="t-white poppins">KrishiOne is a smart agriculture management system designed to assist farmers with crop planning, weather forecasting, soil analysis, and market price updates. It leverages data analytics and IoT integration to enhance productivity, reduce risks, and promote sustainable farming practices through real-time insights and user-friendly interfaces.</p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/Student-ChinmayaMohanty/Krishione-web"
                     target="_blanks"
                      class="btn mx-1 m-top">GitHub</a>
                    <a href="" target="_blanks" class="btn m-top live">Live
                        Link</a>
                </div>
            </div>
            <div class="projects-item flex f-col s-center items-center">
                <h1 class="t-white poppins">Animal Detection</h1>
                <p class="t-white poppins">Animal Detection using Deep Learning is an advanced AI project that uses convolutional neural networks (CNNs) to automatically detect, recognize, and classify animals from images or videos. It supports applications in wildlife conservation, smart surveillance, and ecological research by enabling real-time monitoring and accurate identification of multiple animal species.</p>
                <div class="buttons flex s-around">
                    <a href="" target="_blanks"
                        class="btn mx-1 m-top">GitHub</a>
                    <a href="#" target="_blanks" class="btn m-top live">Live
                        Link</a>
                </div>
            </div>
            <div class="projects-item flex f-col s-center items-center">
                <h1 class="t-white poppins">Crop Recomendation System</h1>
                <p class="t-white poppins">My Crop Recommendation System uses machine learning to analyze soil nutrients, weather conditions, and historical crop data to suggest the most suitable crops. It helps farmers improve yield, reduce risk, optimize resource usage, and make data-driven agricultural decisions through an easy-to-use, intelligent application designed for modern precision farming needs.
</p>
                <div class="buttons flex s-around">
                    <a href="" target="_blanks"
                        class="btn mx-1 m-top">GitHub</a>
                    <a href="#" target="_blanks" class="btn m-top live">Live
                        Link</a>
                </div>
            </div>
         </div>

        </div>
    </section>

    <!-- Contact Me Section -->
    <section id="Contact" class="m-b-1">
        <h1 class=" t-center my-2 t-white f-2">Contact Me</h1>
        <div class="contact-container flex s-around items-centers">
            <div class="form" id="contactForm">
                <form method="post" > 
                    {% csrf_token %}
                    <div class="name form-div">
                        <input type="text" name="name" id="name" class="poppins" placeholder="Enter Your Name">
                    </div>

                    <div class="email form-div">
                        <input type="email" name="email" id="" class="poppins" placeholder="Enter Your Email"
                            required>
                    </div>

                    <div class="phone form-div">
                        <input type="phone" name="number" id="" class="poppins" placeholder="Enter Your Phone"
                            required>
                    </div>
                    
                    <div class="textarea form-div">
                        <textarea name="content" id="textarea" cols="30" rows="10" class="poppins"
                            placeholder="Enter Messages"></textarea>
                    </div>
                    <button type="submit" class="btn poppins" id="submit">Send</button>
                </form>
            </div>
        </div>
    </section>

    <!-- Footer Section -->
    <footer id="footer">
       
        <ul class="flex s-center w-80 font-awesome ">
            <a href="https://www.linkedin.com/in/chinmaya-mohanty-196089294" target="_blank">
                <li><i class="fa-brands fa-linkedin-in"></i></li>
            </a>
            <a href="https://github.com/Student-ChinmayaMohanty" target="_blank">
                <li><i class="fa-brands fa-github"></i></li>
            </a>
                <a href="" target="_blank">
                    <li><i class="fa-brands fa-instagram"></i></li>
            </a>
            
        </ul>
        <p class="t-center my-2 poppins">&copy; All Rights Reserved - <span class="cpy-white poppins">Devlop by chinmaya
                </span></p>

    </footer>
     
</body> 
</html>